body {
    font-family: sans-serif;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-div {
    margin: 0;
    padding: 8px;
}

#img-caption {
    font-family: serif;
    font-size: 0.8rem;
    color: gray;
}

#info {
    text-align: justify;
}